<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Doctors</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="admin : ${admins}">
                <!-- <td th:text="${doctor.id}"></td> -->
                <td th:text="${admin.username}"></td>
                <td>
                    <a th:href="@{/admin/{id}/edit(id=${admin.id})}">Edit</a>
                    <form th:action="@{/admin/{id}/delete(id=${admin.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/admin/add">Add New Doctor</a>

</body>
</html>