<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/addPet.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/Js/DrLogin.js"></script>
    <title>UserHub</title>
</head>
<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a th:href="@{/user/index}" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">UserHub</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a th:href="@{/user/profile}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/user/addPet}">
                    <i class='bx bxs-group' ></i>
                    <span class="text">Add Pet</span>
                </a>
            </li>
            
            <li>
                <a th:href="@{/user/pets}">
                    <i class='bx bx-plus-medical'></i>
                    <span class="text">Pets</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog' ></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu' ></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'title="submit" ></i></button>
                </div>
            </form>
            <a href="@{/user/profile}" class="profile">
                <img src="/images/profile.jpg" title="img">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Add Pet</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">UserProfile</a>
                        </li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="#">Add Pet</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <h2>Pet Registration Form</h2>
                <form th:action="@{/user/addPet}" th:object="${pet}" method="post" id="addPetForm"  onsubmit="return validateForm()">
					<label for="pet_name">Pet Name:</label>
					<input type="text" id="pet_name" name="name" th:field="*{name}" required>
					
					<label for="pet_type">Pet Type:</label>
					<select id="pet_type" name="type" th:field="*{type}" required>
						<option value=" disabled selected">Select</option>
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="bird">Bird</option>
						<option value="rabbit">Rabbit</option>
						<option value="other">Other</option>
					</select>
					
					
					<label for="pet_breed">Breed:</label>
					<input type="text" id="pet_breed" name="breed" th:field="*{breed}" required>
					
					<label for="pet_age">Age:</label>
				    <input type="number" id="pet_age" name="pet_age" th:field="*{age}" required>
					
					
					<label for="pet_weight">Weight:</label>
					<input type="text" id="pet_weight" name="weight" th:field="*{weight}" required>
					
					<label for="pet_gender">Gender:</label>
					<select id="pet_gender" name="gender" th:field="*{gender}" required>
						<option value=" disabled selected">Select</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
					
					<input type="submit"   value="Add">
				</form>
                <div id="alert" class="alert" style="display: none;"></div>
            </div>
        </main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
    <script>
	function validateForm() {
        var petName = document.getElementById("pet_name").value.trim();
        var petType = document.getElementById("pet_type").value;
        var petBreed = document.getElementById("pet_breed").value.trim();
        var petAge = document.getElementById("pet_age").value.trim();
        var petWeight = document.getElementById("pet_weight").value.trim();
        var petGender = document.getElementById("pet_gender").value;
      
        if (petName === "") {
          alert("Please enter the pet name");
          return false;
        }
        
        if (petType === "") {
          alert("Please select the pet type");
          return false;
        }
        
        if (petBreed === "") {
          alert("Please enter the pet breed");
          return false;
        }
        
        if (petAge === "") {
          alert("Please enter the pet age");
          return false;
        }
        
        if (petWeight === "") {
          alert("Please enter the pet weight");
          return false;
        }
        
        if (petGender === "") {
          alert("Please select the pet gender");
          return false;
        }
      
        return true;
      }
    </script>
</body>
</html>