
.profile-form {
			
	background-color: #ED6436;
	color: #fff; /* White text color */
	border: none; /* Remove border */
	padding: 10px 20px; /* Padding */
	cursor: pointer; /* Cursor style */
	border-radius: 5px; /* Rounded corners */
}


.profile-form:hover {
	background-color: #ffb993; 
}