<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Doctor</title>
    
</head>
<body>
    <h1>Add Doctor</h1>

    <form th:action="@{/admin/doctors/add}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"  required><br>


        <button type="submit">Add</button>
    </form>

    <a th:href="@{/admin/doctors}">Back to List</a>

</body>
</html>