<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../../static/css/doctor/pets.css">
    <link rel="icon" href="../../static/images/logo.png" type="image/icon type" />


	<title>DoctorHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">DoctorHub</span>
		</a>
		<ul class="side-menu top">
			<li>
                
				<a href="index.html">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li> 
				<a href="addAppointments.html">
					<i class='bx bx-time'></i>					
					<span class="text">Add Appointment</span>
				</a>
			</li>
			<li>
				<a href="profile.html">
					<i class='bx bxs-file-plus'></i>
					<span class="text">Profile</span>
				</a>
			</li>
			<li class="active">
				<a href="pets.html">
					<i class='bx bx-plus-medical'></i>
					<span class="text">Pets</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn" title="submit"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<a href="#" class="profile">
				<img src="../../static/images/profile.jpg" alt="profile">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Pets</a>
						</li>
					</ul>
				</div>
			</div>
            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Pets Page</title>

            </head>
            <body>
            
            <div class="container">
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-1.jpg" alt="Bella">
                 </div>
                  <h2>Bella</h2>
                  <div class="pet-details">
                  <p>Type: Dog</p>
                  <p>Breed: Labrador Retriever</p>
                  <p>Age: 3 years</p>
             </div>
              </div>
            
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-2.jpg" alt="Bella">
                  </div>
                <h2>Luna</h2>
                <div class="pet-details">
                  <p>Type: Cat</p>
                  <p>Breed: Siamese</p>
                  <p>Age: 3 years</p>
                </div>
              </div>
            
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-3.jpg" alt="Bella">
                  </div>
                <h2>Max</h2>
                <div class="pet-details">
                  <p>Type: Dog</p>
                  <p>Breed: German Shepherd</p>
                  <p>Age: 4 years</p>
                </div>
              </div>
            
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-4.jpg" alt="Bella">
                  </div>
                <h2>Simba</h2>
                <div class="pet-details">
                  <p>Type: Cat</p>
                  <p>Breed: Persian</p>
                  <p>Age: 6 years</p>
                </div>
              </div>
            
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-1.jpg" alt="Bella">
                  </div>                <h2>Charlie</h2>
                <div class="pet-details">
                  <p>Type: Dog</p>
                  <p>Breed: Golden Retriever</p>
                  <p>Age: 2 years</p>
                </div>
              </div>
            
              <div class="pet-card">
                <div class="pet-picture">
                    <img src="../../static/images/team-2.jpg" alt="Bellaa">
               </div>                <h2>Smokey</h2>
                <div class="pet-details">
                  <p>Type: Cat</p>
                  <p>Breed: Maine Coon</p>
                  <p>Age: 3 years</p>
                </div>
              </div>
            </div>
            
            </body>
            </html>
            


		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
</body>
</html>

