
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
    <link rel="stylesheet" href="/css/doctor/ProfileDoctor.css">
	<link rel="stylesheet" href="/css/admin/index.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type" />


	<title>DoctorHub</title>
	<style>
		/* CSS for the "Edit Profile" button */
		.profile-form {
			
			background-color: #ED6436;
			color: #fff; /* White text color */
			border: none; /* Remove border */
			padding: 10px 20px; /* Padding */
			cursor: pointer; /* Cursor style */
			border-radius: 5px; /* Rounded corners */
		}
	
		
		.profile-form:hover {
			background-color: #ffb993; 
		}
	</style>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">DoctorHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/doctor/index">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			
			<li> 
				<a href="addAppointments.html">
					<i class='bx bx-time'></i>					
					<span class="text">Add Appointment</span>
				</a>
			</li>
			
			<li>
				<a href="/doctor/Profile">
					<i class='bx bxs-file-plus'></i>
					<span class="text">Profile</span>
				</a>
			</li>
			<li>
				<a href="pets.html">
					<i class='bx bx-plus-medical'></i>
					<span class="text">Pets</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/doctor/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<a href="/doctor/Profile" class="profile">
				<img src="/images/profile.jpg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Profile</h1>
					<ul class="breadcrumb">
						<li>
							<a href="/doctor/Profile">DoctorProfile</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="/doctor/Profile">profile</a>
						</li>
					</ul>
				</div>
			</div>
            
            
            </div> 
			<div class="container rounded bg-white mt-5 mb-5">
				<div class="row">
					<div class="col-md-3 border-right">
						<div class="d-flex flex-column align-items-center text-center p-3 py-5">
							<img class="rounded-circle mt-5" width="150px" src="/images/user.png">
							
						</div>
					</div>
					<div class="col-md-5 border-right">
						<div class="p-3 py-5">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<h4 class="text-right">Profile Settings</h4>
							</div>
							<div class="row mt-2">
								<div class="col-md-6">
									<label class="labels">Name: <span th:text="${name}"></span></label>
								</div>
								<div class="col-md-6">
									<label class="labels">Name: <span th:text="${id}"></span></label>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<label class="labels">Mobile Number: <span th:text="${phonenumber}"></span></label>
								</div>
								<div class="col-md-12">
									<label class="labels">Email: <span th:text="${email}"></span></label>
								</div>
								<br>
								<a href="/doctor/editProfile" class="profile-form">Edit Profile</a>

							</div>
						</div>
					</div>
				</div> 
			
            </body>
            </html>
            
            