<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
    <link rel="stylesheet" href="/css/doctor/ProfileDoctor.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type" />


	<title>DoctorHub</title>
</head>

<p><strong>name:</strong> <span th:text="${name}"></span></p>
                <p><strong>Email:</strong> <span th:text="${email}"></span></p>
                <p><strong>Phonenumber:</strong> <span th:text="${Phonenumber}"></span></p>